body {
	font-family: 'Josefin Sans', sans-serif;
}
h1 {

}
h2 {

}
h3 {

}
p {
	font-size: 1.1em;
}
ul {

}
li {

}
a {
	color: inherit;
}
header {
	display: block;
	text-align: center;
}
header a {
	text-decoration: none;
}
.bkg {
	display:inline;
}
section {
	padding: 1em 5em;
	margin-left: 7em;
	margin-right: 7em;
	clear: both;
	height:auto !important;
	overflow: auto;
}
nav {
	margin: 0 auto 1em auto;
	padding-top: .25em;
	padding-bottom: .25em;
	width: 82%;
	position: relative;
	display: block;
	z-index: 100;
	border: 3px solid black;
	color: black;
	text-align: center;
}
footer ul,
nav ul {
	list-style: none;
	display: inherit;
	height: 1em;
}
footer li, nav li {
	width: 16%;
	display: inline;
	float: left;
}
footer a, nav a {
	display: inline-block;
	text-decoration: none;
	color: black;
}
nav li a:hover {
	text-decoration: underline;
}
div > a {
	text-decoration: none;
	color: inherit;
}
div > a:hover {
	color: white;
}
footer img {
	height: 2em;
}
.footerNav {
	position: fixed;
    display: inline-flex;
    flex-direction: column;
    right: 2.7em;
    top: 8em;
}
.dotNav {
	position: fixed;
    display: inline-flex;
    flex-direction: column;
    left: 2.7em;
    top: 8em;
}
.dot {
    display: flex;
    justify-content: center;
    align-self: stretch;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-bottom: 2.5em;
}
.footerItem {
	display: flex;
    justify-content: center;
    align-self: stretch;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin-bottom: 2.5em;
}
#color {
	background-image: url(../orange.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 85% 8em;
}
#pageHeader h1 {
	font-size: 4em;
}
#pageHeader h3 {
	font-size: 1.5em;
}
.teal {
	background-color: #6ecdcf;
}
.pink {
	background-color: #ebc2c2;
}
.purple {
	background-color: #8190D5;
}
.green {
	background-color: #85D691;
}
.orange {
	background-color: #e8a65e;
}
.red {
	background-color: #cb626d;
}
div.columnLeft ul li:first-child, div.columnRight ul li:first-child {
	margin-left: -2em;
	list-style: none;
}
div.columnLeft li, div.columnRight li {
	padding-bottom: 1em;
}
.project {
	width: 33%;
	height: 7em;
	display: inline-block;
	position: relative;
	padding-bottom: 2em;
}
.project img {
	max-width: 100%;
	max-height: 100%;
}
.blog-type {
	text-align: center;
    padding-bottom: .8em;
    font-size: 1.2em;
    font-style: italic;
}
.row {
	padding-bottom: 2em;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
}
.blog-post {
	height: 3em;
    width: 6.5em;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    padding-top: 2em;
}
.blog-post:hover {
	border-color: white;
}
.button-wrapper {
	text-align: center;
	position: relative;
	width: 100%;
}
.button {
	padding: 2em;
	display: inline-block;
	border: 2px solid black;
	margin: 0px auto;
}
.button:hover {
	border-color: white;
	color: white;
}